<div class="row mt-5">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title">Categorie</h5>
        <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success" [routerLink]="['/categories/new']">
              <span class="mr-3">Nuova categoria</span><fa-icon [icon]="faPlus"></fa-icon>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead class="thead-light">
          <tr>
            <th>Nome</th>
            <th>Colore</th>
            <th>Ordine</th>
            <th>Ultima modifica</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories | async; let i = index">
              <td>
                <a [routerLink]="['/categories/edit', category.id]" title="Edit category">{{category.name || '---'}}</a>
              </td>

              <td>
                  <div 
                  *ngIf="category.color; else noColor" 
                  [ngStyle]="{
                    'background-color': category.color, 
                    'width': '15px', 
                    'height': '15px', 
                    'border-radius': '50%',
                    'border': '1px solid rgba(0, 0, 0, .15)'
                  }"
                ></div>
                <ng-template #noColor>
                  <span class="icon is-small is-right">
                    <fa-icon [icon]="faBan"></fa-icon>
                  </span>
                </ng-template>
              </td>

              <td>{{category.order || '---'}}</td>

              <td>{{(category.lastUpdated | date) || '---'}}</td>

              <td class="text-right">
                <div class="btn-group btn-group-sm text-right">
                  <a href="#" [routerLink]="['/categories/edit', category.id]" class="btn btn-primary">Modifica</a>
                  <a href="#" (click)="deleteItem($event, category.id, i)" class="btn btn-danger">
                    <div class="spinner-border spinner-border-sm text-light" role="status" *ngIf="isDeletingItem && itemToDelete == i; else defaultLabel">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <ng-template #defaultLabel>Elimina</ng-template>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>