<div *ngIf="auth.user | async as user; else loginFormTemplate">
  <div class="card mt-5">
    <img class="card-img-top" src="/assets/images/branding-cover.jpg" alt="Branding image">

    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{user.photoURL || 'https://api.adorable.io/avatars/312/abott@adorable.png'}}" class="card-img" alt="User avatar image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Welcome {{user.displayName}}</h5>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <hr>
          <ul class="nav justify-content-start">
            <li class="nav-item">
              <a class="nav-link"  href="#" [routerLink]="['/']">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="saveDBToFile()">Save DB to file</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loginFormTemplate>
  <app-user-form></app-user-form>
</ng-template>