<div *ngIf="auth.user | async; then authenticated else guest"></div>

<!-- <ng-template #authenticated>
  <nav class="navbar has-shadow is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="'/'">
        <img src="/assets/images/logo.png" alt="Ideas to move - STUDIO" width="30" height="30">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a [routerLink]="['/login']" class="navbar-item">Profile</a>
        <a class="navbar-item" (click)="logOut()" style="margin-right: 15px;">Log out</a>
      </div>
    </div>
  </nav>
</ng-template>

<ng-template #guest>
  <nav class="navbar has-shadow is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="'/'">
        <img src="/assets/images/logo.png" alt="Ideas to move - STUDIO" width="30" height="30">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
</ng-template> -->

<ng-template #authenticated>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow">
    <a class="navbar-brand" href="#" [routerLink]="'/'">
      <img src="/assets/images/logo.png" alt="Mappe della Resistenza - CMS" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/login']">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logOut()">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>

<ng-template #guest>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow-lg">
    <a class="navbar-brand" href="#" [routerLink]="'/'">
      <img src="/assets/images/logo.png" alt="Mappe della Resistenza - CMS" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </nav>
</ng-template>