<div class="row mt-5">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title">Mappe</h5>
        <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success" [routerLink]="['/map-views/new']">
              <span class="mr-3">Nuova mappa</span><fa-icon [icon]="faPlus"></fa-icon>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead class="thead-light">
          <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>N° categorie</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let map of mapViews | async; let i = index">
              <td>
                <a [routerLink]="['/map-views/edit', map.id]" title="Edit map">{{map.name || '---'}}</a>
              </td>

              <td>{{map.type || '---'}}</td>

              <td>{{getNumCategories(map.id) || '---'}}</td>

              <td class="text-right">
                <div class="btn-group btn-group-sm text-right">
                  <a href="#" [routerLink]="['/map-views/edit', map.id]" class="btn btn-primary">Modifica</a>
                  <a href="#" (click)="deleteItem($event, map.id, i)" class="btn btn-danger">
                    <div class="spinner-border spinner-border-sm text-light" role="status" *ngIf="isDeletingItem && itemToDelete == i; else defaultLabel">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <ng-template #defaultLabel>Elimina</ng-template>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>