<div 
  *ngIf="!lockToSinglePointMode" 
  [ngSwitch]="drawMode" 
  class="map-tools btn-toolbar mb-3 d-flex align-items-center justify-content-between" 
  role="toolbar" 
  aria-label="Map tools"
>
  <div *ngSwitchCase="'POINTS'" class="btn-group mr-2" role="group" aria-label="Points mode tools">
      <button 
        type="button" 
        class="btn btn-outline-secondary btn-sm" 
        (click)="deleteSelectedVertex()"
        [disabled]="!canEditPoint"
      >
        Cancella punto selezionato
      </button>
  </div>

  <div *ngSwitchCase="'LINES'" class="btn-group mr-2" role="group" aria-label="Lines mode tools">
    <button 
      type="button" 
      class="btn btn-outline-secondary btn-sm" 
      (click)="addLine()"
    >
      Nuova linea
    </button>

    <button 
      type="button" 
      class="btn btn-outline-secondary btn-sm" 
      (click)="deleteSelectedVertex()"
      [disabled]="!canEditPoint"
    >
      Cancella vertice selezionato
    </button>
  </div>

  <div *ngSwitchCase="'AREAS'" class="btn-group mr-2" role="group" aria-label="Areas mode tools">
    <button 
      type="button" 
      class="btn btn-outline-secondary btn-sm" 
      (click)="addLine()"
    >
      Nuova area
    </button>

    <button 
      type="button" 
      class="btn btn-outline-secondary btn-sm" 
      (click)="deleteSelectedVertex()"
      [disabled]="!canEditPoint"
    >
      Cancella vertice selezionato
    </button>
  </div>
</div>

<div class="map" id="map"></div>

<div class="map-overlay" *ngIf="!enabled"></div>