#shell {
    width: 100vw;
    height: 100vh;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: $mainNavH auto $footerH;

    #mainNav {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #sidebar {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: $sidebarPadding;
        overflow: hidden;
        overflow-y: auto;
    }

    #mainContent {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: $mainContentPadding;
        display: flex;
        align-items: center;
        justify-content: center;

        &.shifted {
            grid-column-start: 3;
            grid-column-end: 13;
            overflow: hidden;
            overflow-y: auto;
            margin-top: 0;
            display: block;
        }
    }

    #footer {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 4;
        color: $footerColor;
        background-color: $footerBackground;
    }
}