<div id="direct_upload" class="box" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">	
	<div class="card-content">
		<div class="file has-name is-fullwidth upload_button_holder">
			<label class="file-label upload_button">
				<input 
					class="file-input" 
					type="file" 
					id="fileupload" 
					#fileInput 
					ng2FileSelect 
					[style.display]="'none'" 
					[uploader]="uploader" 
					(change)="fileInput.value=''" 
					[multiple]="multiple"
				>
				<span class="file-cta">
					<span class="file-icon">
						<!-- <i class="fa fa-upload"></i> -->
						<fa-icon [icon]="icon"></fa-icon>
					</span>
					<span class="file-label">Choose {{multiple ? 'files' : 'file'}}</span>
				</span>
			</label>
		</div>

		<hr *ngIf="responses.length > 0">

		<div id="uploadQueue">
			<div class="box" *ngFor="let response of responses">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img *ngIf="response.file.type.indexOf('video') > -1" src="/assets/images/videoPlaceholder.svg" alt="Image">
							<img *ngIf="response.file.type.indexOf('video') == -1" [src]="response.filePreviewPath" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p class="is-size-7">
								{{response.file.name}} - Upload progress: {{response.progress}}%
								<span class="is-size-7 has-text-success" *ngIf="response.status && response.status == 200"> - Upload completed</span>
							</p>
							<progress class="progress is-small" value="{{response.progress}}" max="100">{{response.progress}}%</progress>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>