<div class="d-flex justify-content-center align-items-center w-100 vh-100">
  <form class="was-validated w-50" [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <ng-container *ngIf="!formErrors.email">
                <fa-icon [icon]="faCheck" class="ml-3"></fa-icon>
            </ng-container>
            <ng-container *ngIf="formErrors.email">
                <fa-icon [icon]="faBan" class="ml-3"></fa-icon>
            </ng-container>
          </div>
        </div>
        <input type="email" placeholder="Email" id="email" class="form-control" formControlName="email" required>
        <div class="invalid-feedback" *ngIf="formErrors.email">{{ formErrors.email }}</div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <fa-icon [icon]="faLock"></fa-icon>
            <ng-container *ngIf="!formErrors.password">
                <fa-icon [icon]="faCheck" class="ml-3"></fa-icon>
            </ng-container>
            <ng-container *ngIf="formErrors.password">
                <fa-icon [icon]="faBan" class="ml-3"></fa-icon>
            </ng-container>
          </div>
        </div>
        <input type="password" placeholder="Password" id="password" class="form-control" formControlName="password" required>
        <div class="invalid-feedback" *ngIf="formErrors.password">{{ formErrors.password }}</div>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-block" [disabled]="!userForm.valid">Login</button>

    <p *ngIf="userForm.valid" class="text-success mt-1">
      <small>Form Looks Valid</small>
    </p>

    <a 
      href="#" 
      *ngIf="!passReset && userForm.controls.email.valid" 
      (click)="resetPassword()"
    >
      Reset Password for {{userForm.value.email}}?
    </a>

    <p *ngIf="passReset">Reset requested. Check your email instructions.</p>
  </form>
</div>