<div class="row mt-5">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title">Livelli</h5>
        <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success" [routerLink]="['/layers/new']">
              <span class="mr-3">Nuovo livello</span><fa-icon [icon]="faPlus"></fa-icon>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead class="thead-light">
          <tr>
            <th>Nome</th>
            <!-- <th>Tipo di livello</th> -->
            <th>Ordine</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let layer of layers | async; let i = index">
              <td>
                <a [routerLink]="['/layers/edit', layer.id]" title="Edit layer">{{layer.name || '---'}}</a>
              </td>

              <!-- <td>{{layer.type || '---'}}</td> -->
              <td>{{layer.order || '---'}}</td>

              <td class="text-right">
                <div class="btn-group btn-group-sm text-right">
                  <a href="#" [routerLink]="['/layers/edit', layer.id]" class="btn btn-primary">Modifica</a>
                  <a href="#" (click)="deleteItem($event, layer.id, i)" class="btn btn-danger">
                    <div class="spinner-border spinner-border-sm text-light" role="status" *ngIf="isDeletingItem && itemToDelete == i; else defaultLabel">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <ng-template #defaultLabel>Elimina</ng-template>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>