<!-- <div id="shell">
    <app-main-nav id="mainNav"></app-main-nav>
    <aside class="menu rock-sidebar" id="sidebar" *ngIf="auth.user | async;"></aside>
    <section class="section" id="mainContent" [ngClass]="{shifted: auth.user | async}">
        <router-outlet></router-outlet>
    </section>
    <rock-footer id="footer"></rock-footer>
</div> -->
<app-main-nav></app-main-nav>

<div class="container">
    <div class="row">
        <ng-container *ngIf="auth.user | async; else noSidebar">
            <div class="col-md-3">
                <app-sidebar id="sidebar" ></app-sidebar>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </ng-container>

        <ng-template #noSidebar>
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </div>
</div>

<app-notification-message></app-notification-message>