<div 
  *ngIf="notify.msg | async as msg" 
  class="alert" 
  id="notificationContainer" 
  [ngClass]="{ 
    'alert-danger': msg.style == 'error',
    'alert-success': msg.style == 'success',
    'alert-info': msg.style == 'info',
    'alert-warning': msg.style == 'warning'
  }"
>
  <h4 class="alert-heading">{{ msg.header }}</h4>
  <hr>
  <p>{{ msg.content }}</p>
</div>