<div class="row mt-5">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title mb-0" *ngIf="!isNewItem">Modifica {{itemSingular | titlecase}}</h5>
        <h5 class="card-title mb-0" *ngIf="isNewItem">Nuovo {{itemSingular | titlecase}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 pb-5">
  <div class="col">
      <form [formGroup]="periodForm" class="was-validated">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="name">Nome</label>
              <input 
                type="text" 
                class="form-control" 
                id="name" 
                aria-describedby="emailHelp" 
                placeholder="Un'etichetta per definire il periodo. Ad es. 'Dicembre 45'" 
                formControlName="name" 
                required
              >
              <small *ngIf="formErrors.name" class="form-text text-muted text-danger">{{ formErrors.name }}</small>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label class="text-muted" for="slug">Slug (friendly name)</label>
              <input 
                type="text" 
                readonly 
                class="form-control" 
                id="slug" 
                aria-describedby="Friendly name della categoria" 
                placeholder="Friendly name della categoria" 
                formControlName="slug" 
                required 
                [attr.disabled]="true"
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="color">Data di inizio</label>
              <input type="hidden" formControlName="startDateTS">
              <input 
                [dpDayPicker]="dpConfig" 
                class="form-control" 
                type="text" 
                placeholder="Start date" 
                formControlName="startDate"
              >
              <small *ngIf="formErrors.startDate" class="form-text text-muted text-danger">{{ formErrors.startDate }}</small>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="color">Data di fine</label>
              <input type="hidden" formControlName="endDateTS">
              <input 
                [dpDayPicker]="dpConfig" 
                class="form-control" 
                type="text" 
                placeholder="End date" 
                formControlName="endDate"
              >
              <small *ngIf="formErrors.endDate" class="form-text text-muted text-danger">{{ formErrors.endDate }}</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Descrizione</label>
          <angular-editor 
            id="description" 
            formControlName="description" 
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </form>
  </div>
</div>

<div class="spacer"></div>

<div class="row p-3 mt-3 fixed-bottom bg-light shadow-lg">
  <div class="col d-flex align-items-center justify-content-end">
    <button 
      (click)="save()" 
      class="btn btn-outline-success btn-lg w-25" 
      [disabled]="!(periodForm.status == 'VALID')"
    >Save</button>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>