<div *ngIf="!(auth.user | async); else alreadyLoggedIn">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-6">
            <div class="card bg-primary text-white">
                <img src="./assets/images/preview.jpg" class="card-img-top" alt="Anteprima della mappa">
                <div class="card-body">
                    <h5 class="card-title mb-0 text-center">Mappe della resistenza / CMS</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-6">
            <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/login']">LOGIN</a>
        </div>
    </div>
</div>

<ng-template #alreadyLoggedIn>
    <div class="row mt-5">
        <div class="col">
            <div class="card bg-primary text-white">
            <div class="card-body">
                <h5 class="card-title mb-0">Mappe della Resistenza / Dashboard</h5>
            </div>
            </div>
        </div>
    </div>
</ng-template>