<div class="row mt-5">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title mb-0" *ngIf="!isNewItem">Modifica {{itemSingular | titlecase}}</h5>
        <h5 class="card-title mb-0" *ngIf="isNewItem">Nuova {{itemSingular | titlecase}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
      <form [formGroup]="cityForm" class="was-validated">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="name">Nome</label>
              <input 
                type="text" 
                class="form-control" 
                id="name" 
                aria-describedby="emailHelp" 
                placeholder="Il nome della città" 
                formControlName="name" 
                required
              >
              <small *ngIf="formErrors.name" class="form-text text-muted text-danger">{{ formErrors.name }}</small>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label class="text-muted" for="slug">Slug (friendly name)</label>
              <input 
                type="text" 
                readonly 
                class="form-control" 
                id="slug" 
                aria-describedby="Friendly name della città" 
                placeholder="Friendly name della città" 
                formControlName="slug" 
                required 
                [attr.disabled]="true"
              >
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Posizione geografica</label>
          <div class="card mb-3 map-card">
            <div class="card-body">
              <map-box [lockToSinglePointMode]="true" [enabled]="!isNewItem" (mapLoaded)="onMapLoad()"></map-box>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Descrizione</label>
          <angular-editor 
            id="description" 
            formControlName="description" 
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </form>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <ul class="nav nav-tabs" id="cityTab" role="tablist">
      <li class="nav-item" *ngFor="let period of periods | async; let i = index">
        <a 
          class="nav-link" 
          [class.active]="i == activeTab" 
          id="periodTab{{i}}" 
          data-toggle="tab" 
          href="#periodPane{{i}}" 
          role="tab" 
          aria-controls="home" 
          aria-selected="true" 
          (click)="switchTab($event, i, period.id)"
        >
          {{period.name}}
        </a>
      </li>
    </ul>

    <div class="tab-content mb-3">
      <div 
        *ngFor="let period of periods | async; let i = index"
        class="tab-pane p-3 border border-top-0" 
        [class.active]="i == activeTab" 
        id="periodPane{{i}}" 
        role="tabpanel" 
        aria-labelledby="home-tab" 
      >
        <div class="card" [class.mt-3]="y > 0" *ngFor="let cat of categories | async; let y = index">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div class="custom-control custom-switch">
                <input 
                  type="checkbox" 
                  class="custom-control-input" 
                  id="categorySwitch{{i + '' + y}}" 
                  [checked]="periodsData[period.id][cat.id]['enabled']" 
                  (change)="onCategorySwitchChange(period.id, cat.id)"
                >
                <label class="custom-control-label" for="categorySwitch{{i + '' + y}}">{{cat.name}}</label>
              </div>

              <a class="btn btn-sm btn-outline-secondary" href="#" (click)="toggleCategoryCollapse($event, i, y)">
                <fa-icon [icon]="faEdit"></fa-icon>
                <span class="ml-1">Modifica info</span>
              </a>
            </div>

            <div class="mt-3 collapse" id="categoryCollapse{{i + '' + y}}">
              <div class="form-group">
                <label for="categorySummary{{i + '' + y}}">Testo breve</label>
                <angular-editor 
                  id="categorySummary{{i + '' + y}}" 
                  [config]="editorConfig" 
                  [(ngModel)]="periodsData[period.id][cat.id].summary" 
                ></angular-editor>
              </div>

              <div class="form-group">
                <label for="categoryDescription{{i + '' + y}}">Testo lungo</label>
                <angular-editor 
                  id="categoryDescription{{i + '' + y}}" 
                  [config]="editorConfig" 
                  [(ngModel)]="periodsData[period.id][cat.id].description" 
                ></angular-editor>
              </div>

              <div class="form-group">
                <label for="categoryQty{{i + '' + y}}">Numero di uffici presenti in città nel periodo</label>
                <input 
                  id="categoryQty{{i + '' + y}}" 
                  type="number" 
                  class="form-control" 
                  [(ngModel)]="periodsData[period.id][cat.id].quantity" 
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row p-3 mt-3 fixed-bottom bg-light shadow-lg">
  <div class="col d-flex align-items-center justify-content-end">
    <button 
      (click)="save()" 
      class="btn btn-outline-success btn-lg w-25" 
      [disabled]="!(cityForm.status == 'VALID')"
    >Save</button>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>