<div class="row mt-5">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title mb-0" *ngIf="!isNewItem">Modifica {{itemSingular | titlecase}}</h5>
        <h5 class="card-title mb-0" *ngIf="isNewItem">Nuova {{itemSingular | titlecase}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
      <form [formGroup]="mapViewForm" class="was-validated">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="name">Nome</label>
              <input 
                type="text" 
                class="form-control" 
                id="name" 
                aria-describedby="emailHelp" 
                placeholder="Il nome della {{itemSingular}}" 
                formControlName="name" 
                required
              >
              <small *ngIf="formErrors.name" class="form-text text-muted text-danger">{{ formErrors.name }}</small>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label class="text-muted" for="slug">Slug (friendly name)</label>
              <input 
                type="text" 
                readonly 
                class="form-control" 
                id="slug" 
                aria-describedby="Friendly name della mappa" 
                placeholder="Friendly name della mappa" 
                formControlName="slug" 
                required 
                [attr.disabled]="true"
              >
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="type">Tipo di mappa</label>
          <select class="form-control" id="type" formControlName="type">
            <option value="HTMLMarkers">Marker HTML</option>
            <option value="clusterMarkers">Mappa Cluster</option>
            <option value="markerGroups">Gruppi di Marker</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Descrizione</label>
          <angular-editor 
            id="description" 
            formControlName="description" 
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="mapCities">Città da includere nella {{itemSingular}}</label>
      <div class="card-columns">
        <div class="card" *ngFor="let city of cities | async; let i = index;">
          <div class="card-body">
            <div class="custom-control custom-switch" *ngIf="citiesData">
              <input 
                type="checkbox" 
                class="custom-control-input" 
                id="customCitySwitch{{i}}" 
                [checked]="citiesData[city.id]['enabled']" 
                (change)="onCitySwitchChange(city.id)"
              >
              <label class="custom-control-label" for="customCitySwitch{{i}}">{{city.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="mapLayers">Livelli da includere nella {{itemSingular}}</label>
      <div class="card-columns">
        <div class="card" *ngFor="let layer of layers | async; let i = index;">
          <div class="card-body">
            <div class="custom-control custom-switch" *ngIf="layersData">
              <input 
                type="checkbox" 
                class="custom-control-input" 
                id="customLayerSwitch{{i}}" 
                [checked]="layersData[layer.id]['enabled']" 
                (change)="onLayerSwitchChange(layer.id)"
              >
              <label class="custom-control-label" for="customLayerSwitch{{i}}">{{layer.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- {{categories | async | json}} -->
    <div class="form-group">
      <label for="mapCategories">Categorie da includere nella legenda della {{itemSingular}}</label>
      <div class="card-columns">
        <div class="card" *ngFor="let category of categories | async; let i = index;">
          <div class="card-body">
            <div class="custom-control custom-switch" *ngIf="categoriesData">
              <input 
                type="checkbox" 
                class="custom-control-input" 
                id="customCategorySwitch{{i}}" 
                [checked]="categoriesData[category.id] && categoriesData[category.id]['enabled']" 
                (change)="onCategorySwitchChange(category.id)"
              >
              <label class="custom-control-label" for="customCategorySwitch{{i}}">{{category.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row p-3 mt-3 fixed-bottom bg-light shadow-lg">
  <div class="col d-flex align-items-center justify-content-end">
    <button 
      (click)="save()" 
      class="btn btn-outline-success btn-lg w-25" 
      [disabled]="!(mapViewForm.status == 'VALID')"
    >Save</button>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>