#loadingSpinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1100;
  display: none;
  align-items: center;
  justify-content: center;

  &.show {
    display: flex;
  }
}