// @import '../../../styles/variables';

// footer {
//     position: fixed;
//     width: 100vw;
//     height: $footerH;
//     bottom: 0;
//     left: 0;
//     background-color: $B2textGray;
//     color: $white;
//     z-index: $footerIndex;
//     display: flex;
//     align-items: center;
// }