// @import './styles/variables';
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";
@import '~bootstrap/scss/bootstrap.scss';

#map {
    .mapboxgl-canvas-container {
        .marker {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        
            &.selected {
                border: 2px solid red;
            }
        }
    }
}

.spacer {
    padding-bottom: 6rem;
}