<!-- HEADER -->
<div class="row mt-5">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title mb-0" *ngIf="!isNewItem">Modifica {{itemSingular | titlecase}}</h5>
        <h5 class="card-title mb-0" *ngIf="isNewItem">Nuovo {{itemSingular | titlecase}}</h5>
      </div>
    </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col">
      <form [formGroup]="layerForm" class="was-validated">
        <!-- NOME E SLUG -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Nome</label>
              <input 
                type="text" 
                class="form-control" 
                id="name" 
                aria-describedby="Nome del livello" 
                placeholder="Il nome del {{itemSingular}}" 
                formControlName="name" 
                required
              >
              <small *ngIf="formErrors.name" class="form-text text-muted text-danger">{{ formErrors.name }}</small>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted" for="slug">Slug (friendly name)</label>
              <input 
                type="text" 
                readonly 
                class="form-control" 
                id="slug" 
                aria-describedby="Friendly name del livello" 
                placeholder="Friendly name del {{itemSingular}}" 
                formControlName="slug" 
                required 
                [attr.disabled]="true"
              >
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="name">Ordine</label>
              <input 
                type="number" 
                class="form-control" 
                id="order" 
                aria-describedby="Ordine livello" 
                placeholder="Ordine {{itemSingular}}" 
                formControlName="order" 
              >
            </div>
          </div>
        </div>
      </form>
  </div>
</div>

<!-- PILLS PERIODI -->
<div class="row mt-5">
  <div class="col">
    <ul class="nav nav-pills nav-fill bg-secondary rounded border-light" id="layerPeriodTabs" role="tablist">
      <li class="nav-item" *ngFor="let period of periods | async; let i = index">
        <a 
          class="nav-link" 
          [class.active]="period.id === activePeriodID" 
          id="periodTab{{i}}" 
          data-toggle="tab" 
          href="#periodPane{{i}}" 
          role="tab" 
          aria-controls="home" 
          aria-selected="true" 
          (click)="switchPeriod($event, period.id)"
        >
          <small class="text-light">{{period.name}}</small>
        </a>
      </li>
    </ul>

    <div class="card mt-3 border-bottom-0" *ngIf="layerProperties" style="border-radius: 0; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;">
      <div class="card-header d-flex justify-content-between align-items-center" [class.border-bottom-0]="layerPropertiesCollapsed">
        <span>Proprietà disegno</span>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group" *ngIf="periodsObj">
            <button 
              id="copyGeometryDropdown" 
              type="button" 
              class="btn btn-outline-secondary btn-sm dropdown-toggle" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false" 
              (click)="toggleCopyGeometryDropdown($event)"
            >
              <small>Copia geometria da...</small>
            </button>
            <div class="dropdown-menu" [class.show]="!copyGeometryCollapsed" aria-labelledby="copyGeometryDropdown">
              <ng-container *ngFor="let period of periodsObj">
                <a 
                  *ngIf="period.id != activePeriodID" 
                  class="dropdown-item" 
                  href="#"
                  (click)="copyGeometry($event, period.id)"
                >
                  <small>{{period.name}}</small>
                </a>
              </ng-container>
            </div>
          </div>

          <button type="button" class="btn btn-secondary btn-sm" (click)="toggleLayerProperties($event)">
            <fa-icon [icon]="faCogs"></fa-icon>&nbsp;&nbsp;|&nbsp;
            <fa-icon *ngIf="layerPropertiesCollapsed" [icon]="faCaretDown"></fa-icon>
            <fa-icon *ngIf="!layerPropertiesCollapsed" [icon]="faCaretUp"></fa-icon>
          </button>
        </div>
      </div>

      <div class="card-body border-bottom-0" [class.collapse]="layerPropertiesCollapsed">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="exampleFormControlSelect1"><small>Tipo di disegno</small></label>
              <select 
                class="form-control form-control-sm" 
                id="exampleFormControlSelect1" 
                [ngModel]="layerProperties[activePeriodID].type"
                (ngModelChange)="onLayerTypeChange($event)"
              >
                <option value="POINTS">Punti</option>
                <option value="LINES">Linee</option>
                <option value="AREAS">Aree</option>
              </select>
            </div>
          </div>

          <div class="col-md-10" [ngSwitch]="layerProperties[activePeriodID].type">
            <ng-container *ngSwitchCase="'POINTS'">
              <div class="form-group">
                <label for="fillColor"><small>Colore punti</small></label>
                <input 
                  class="form-control form-control-sm" 
                  id="fillColor" 
                  [colorPicker]="layerProperties[activePeriodID].fillColor || defaultFillColor" 
                  [value]="layerProperties[activePeriodID].fillColor || defaultFillColor" 
                  [style.background]="layerProperties[activePeriodID].fillColor || defaultFillColor" 
                  [style.color]="'white'"
                  [cpPosition]="'bottom'" 
                  [cpWidth]="'300px'" 
                  [cpAlphaChannel]="'enabled'" 
                  [cpOutputFormat]="'rgba'" 
                  (colorPickerChange)="layerProperties[activePeriodID].fillColor = $event" 
                  autocomplete="off"
                />
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'LINES'">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="strokeColor"><small>Colore tratto</small></label>
                    <input 
                      class="form-control form-control-sm" 
                      id="strokeColor" 
                      [colorPicker]="layerProperties[activePeriodID].strokeColor || defaultStrokeColor" 
                      [value]="layerProperties[activePeriodID].strokeColor || defaultStrokeColor" 
                      [style.background]="layerProperties[activePeriodID].strokeColor || defaultStrokeColor" 
                      [style.color]="'white'"
                      [cpPosition]="'bottom'" 
                      [cpWidth]="'300px'" 
                      [cpAlphaChannel]="'enabled'" 
                      [cpOutputFormat]="'rgba'" 
                      (colorPickerChange)="layerProperties[activePeriodID].strokeColor = $event" 
                      autocomplete="off"
                    />
                  </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                      <label for="strokeWidth"><small>Spessore linea</small></label>
                      <input 
                        type="number" 
                        class="form-control form-control-sm"
                        id="strokeWidth"
                        [(ngModel)]="layerProperties[activePeriodID].strokeWidth"
                      >
                    </div>
                  </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input 
                    type="checkbox" 
                    class="custom-control-input" 
                    id="hasDashedStroke"
                    [(ngModel)]="layerProperties[activePeriodID].hasDashedStroke"
                  >
                  <label class="custom-control-label" for="hasDashedStroke"><small>Linea tratteggiata?</small></label>
                </div>
              </div>

              <div class="row" *ngIf="layerProperties[activePeriodID].hasDashedStroke">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dashPatternStrokeWidth"><small>Larghezza tratto</small></label>
                    <input
                      type="number" 
                      class="form-control form-control-sm"
                      id="dashPatternStrokeWidth"
                      [(ngModel)]="layerProperties[activePeriodID].dashPattern.strokeWidth"
                    >
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dashPatternSpacing"><small>Spaziatura</small></label>
                    <input
                      type="number" 
                      class="form-control form-control-sm"
                      id="dashPatternSpacing"
                      [(ngModel)]="layerProperties[activePeriodID].dashPattern.spacing"
                    >
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'AREAS'">
              <div class="form-group">
                <label for="fillColor"><small>Colore riempimento</small></label>
                <input 
                  class="form-control form-control-sm" 
                  id="fillColor" 
                  [colorPicker]="layerProperties[activePeriodID].fillColor || defaultFillColor" 
                  [value]="layerProperties[activePeriodID].fillColor || defaultFillColor" 
                  [style.background]="layerProperties[activePeriodID].fillColor || defaultFillColor" 
                  [style.color]="'white'"
                  [cpPosition]="'bottom'" 
                  [cpWidth]="'300px'" 
                  [cpAlphaChannel]="'enabled'" 
                  [cpOutputFormat]="'rgba'" 
                  (colorPickerChange)="layerProperties[activePeriodID].fillColor = $event" 
                  autocomplete="off"
                />
              </div>

              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input 
                    type="checkbox" 
                    class="custom-control-input" 
                    id="hasPatternFill"
                    [(ngModel)]="layerProperties[activePeriodID].hasPatternFill"
                  >
                  <label class="custom-control-label" for="hasPatternFill"><small>Pattern riempimento?</small></label>
                </div>
              </div>

              <div class="form-group" *ngIf="layerProperties[activePeriodID].hasPatternFill">
                <label for="patternFill"><small>Pattern</small></label>
                <div class="card">
                  <div class="card-body d-flex flex-wrap">
                    <ng-container *ngFor="let pattern of fakePatterns">
                      <div class="m-1">
                        <img width="90" height="90" src="./assets/images/patterns/{{pattern.name}}.jpg" class="img-thumbnail">
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input 
                    type="checkbox" 
                    class="custom-control-input" 
                    id="hasAreaStroke"
                    [(ngModel)]="layerProperties[activePeriodID].hasAreaStroke"
                  >
                  <label class="custom-control-label" for="hasAreaStroke"><small>Area con contorno?</small></label>
                </div>
              </div>

              <div class="row" *ngIf="layerProperties[activePeriodID].hasAreaStroke">
                <div class="col-md-8">
                  <div class="form-group" *ngIf="layerProperties[activePeriodID].hasAreaStroke">
                    <label for="strokeColor"><small>Colore tratto</small></label>
                    <input 
                      class="form-control form-control-sm" 
                      id="strokeColor" 
                      [colorPicker]="layerProperties[activePeriodID].strokeColor || defaultStrokeColor" 
                      [value]="layerProperties[activePeriodID].strokeColor || defaultStrokeColor" 
                      [style.background]="layerProperties[activePeriodID].strokeColor || defaultStrokeColor" 
                      [style.color]="'white'"
                      [cpPosition]="'bottom'" 
                      [cpWidth]="'300px'" 
                      [cpAlphaChannel]="'enabled'" 
                      [cpOutputFormat]="'rgba'" 
                      (colorPickerChange)="layerProperties[activePeriodID].strokeColor = $event" 
                      autocomplete="off"
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="strokeWidth"><small>Spessore linea</small></label>
                    <input 
                      type="number" 
                      class="form-control form-control-sm"
                      id="strokeWidth"
                      [(ngModel)]="layerProperties[activePeriodID].strokeWidth"
                    >
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MAP -->
<div class="row">
  <div class="col">
    <div class="form-group">
      <div class="card mb-3 map-card rounded-0">
        <div class="card-body">
          <map-box [enabled]="!isNewItem" (mapLoaded)="onMapLoad()"></map-box>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="spacer"></div>

<div class="row p-3 mt-3 fixed-bottom bg-light shadow-lg">
  <div class="col d-flex align-items-center justify-content-end">
    <button 
      (click)="save()" 
      class="btn btn-outline-success btn-lg w-25" 
      [disabled]="!(layerForm.status == 'VALID')"
    >Save</button>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>