<ng-container [ngSwitch]="type">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
    <ng-container *ngSwitchCase="'square'">
      <rect x="5" y="5" width="20" height="20" rx="2" 
        [attr.fill]="fillColor" 
        [attr.fill-opacity]="fillOpacity" 
        [attr.stroke]="strokeColor" 
        [attr.stroke-opacity]="strokeOpacity" 
        [attr.stroke-width]="strokeWidth" 
      />
    </ng-container>

    <ng-container *ngSwitchCase="'circle'">
      <circle cx="15" cy="15" r="10"
        [attr.fill]="fillColor" 
        [attr.fill-opacity]="fillOpacity" 
        [attr.stroke]="strokeColor" 
        [attr.stroke-opacity]="strokeOpacity" 
        [attr.stroke-width]="strokeWidth" 
        stroke-width="2"  
      />
    </ng-container>

    <ng-container *ngSwitchCase="'rhombus'">
      <polygon 
        [attr.fill]="fillColor" 
        [attr.fill-opacity]="fillOpacity" 
        [attr.stroke]="strokeColor" 
        [attr.stroke-opacity]="strokeOpacity" 
        [attr.stroke-width]="strokeWidth" 
        points="15,3 27,15 15,27 3,15" 
        stroke-linejoin="round" 
        stroke-linecap="round" 
      />
    </ng-container>
      
    <ng-container *ngSwitchCase="'hexagon'">
      <polygon 
        [attr.fill]="fillColor" 
        [attr.fill-opacity]="fillOpacity" 
        [attr.stroke]="strokeColor" 
        [attr.stroke-opacity]="strokeOpacity" 
        [attr.stroke-width]="strokeWidth" 
        points="15,3 25,10 25,20 15,27 5,20 5,10" 
        stroke-linejoin="round" 
        stroke-linecap="round" 
      />
    </ng-container>

    <ng-container *ngSwitchCase="'triangle'">
      <polygon 
        [attr.fill]="fillColor" 
        [attr.fill-opacity]="fillOpacity" 
        [attr.stroke]="strokeColor" 
        [attr.stroke-opacity]="strokeOpacity" 
        [attr.stroke-width]="strokeWidth" 
        points="15,5 27,25 3,25" 
        stroke-linejoin="round" 
        stroke-linecap="round" 
      />
    </ng-container>

    <ng-container *ngSwitchCase="'cross'">
      <line x1="7.5" y1="7.5" x2="22.5" y2="22.5" 
        [attr.stroke]="strokeColor != 'none' ? strokeColor : fillColor" 
        [attr.stroke-opacity]="strokeOpacity != 0 ? strokeOpacity : fillOpacity" 
        [attr.stroke-width]="strokeWidth" 
        stroke-linejoin="round" 
        stroke-linecap="round" 
      />
      <line x1="22.5" y1="7.5" x2="7.5" y2="22.5" 
        [attr.stroke]="strokeColor != 'none' ? strokeColor : fillColor" 
        [attr.stroke-opacity]="strokeOpacity != 0 ? strokeOpacity : fillOpacity" 
        [attr.stroke-width]="strokeWidth" 
        stroke-linejoin="round" 
        stroke-linecap="round" 
      />
    </ng-container>
  </svg>
</ng-container>