<div class="row mt-5">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title mb-0" *ngIf="!isNewItem">Modifica {{itemSingular | titlecase}}</h5>
        <h5 class="card-title mb-0" *ngIf="isNewItem">Nuova {{itemSingular | titlecase}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 pb-5">
  <div class="col">
      <form [formGroup]="categoryForm" class="was-validated">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="name">Nome</label>
              <input 
                type="text" 
                class="form-control" 
                id="name" 
                aria-describedby="Nome della categoria" 
                placeholder="Nome della categoria" 
                formControlName="name" 
                required
              >
              <small *ngIf="formErrors.name" class="form-text text-muted text-danger">{{ formErrors.name }}</small>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="text-muted" for="slug">Slug (friendly name)</label>
              <input 
                type="text" 
                readonly 
                class="form-control" 
                id="slug" 
                aria-describedby="Friendly name della categoria" 
                placeholder="Friendly name della categoria" 
                formControlName="slug" 
                required 
                [attr.disabled]="true"
              >
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Periodo</label>
              <select class="form-control">
                <option *ngFor="let period of periods | async">{{ period.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="labels">Label</label>
              <input 
                type="text" 
                class="form-control" 
                id="labels" 
                aria-describedby="Nome della categoria relativo al periodo" 
                placeholder="Nome della categoria relativo al periodo" 
                formControlName="labels" 
                required
              >
            </div>
          </div>
        </div> -->

        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="color">Colore</label>
              <input 
                class="form-control" 
                [class.is-danger]="formErrors.color" 
                id="color" 
                formControlName="color" 
                required 
                [colorPicker]="categoryForm.get('color').value" 
                [value]="categoryForm.get('color').value" 
                [style.background]="categoryForm.get('color').value" 
                [style.color]="'white'"
                [cpPosition]="'bottom'" 
                [cpWidth]="'300px'" 
                [cpAlphaChannel]="'enabled'" 
                [cpOutputFormat]="'rgba'" 
                (colorPickerChange)="categoryForm.get('color').setValue( $event )" 
                autocomplete="off"
              />
              <small *ngIf="formErrors.color" class="form-text text-muted text-danger">{{ formErrors.color }}</small>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label for="order">Ordine</label>
              <input 
                type="number" 
                class="form-control" 
                id="order" 
                aria-describedby="Ordine categoria" 
                placeholder="Ordine della categoria" 
                formControlName="order" 
                required
              >
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Descrizione</label>
          <angular-editor 
            id="description" 
            formControlName="description" 
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </form>

      <div class="form-group" *ngIf="labels">
        <div class="card">
          <div class="card-header">Labels</div>
          <div class="card-body">
            <div class="row" fromControlGroup="labels">
              <ng-container *ngFor="let period of periods | async">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="labels">&nbsp;</label>
                    <input class="form-control" type="text" readonly value="{{period.name}}">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="labels">Label</label>
                    <input 
                      type="text" 
                      class="form-control" 
                      id="labels" 
                      aria-describedby="Nome della categoria relativo al periodo" 
                      placeholder="Nome della categoria relativo al periodo" 
                      [(ngModel)]="labels[period.id]"
                    >
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row p-3 mt-3 fixed-bottom bg-light shadow-lg">
  <div class="col d-flex align-items-center justify-content-end">
    <button 
      (click)="save()" 
      class="btn btn-outline-success btn-lg w-25" 
      [disabled]="!(categoryForm.status == 'VALID')"
    >Save</button>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>