<div 
  class="nav flex-column nav-pills mt-5 p-3 rounded position-fixed shadow" 
  id="v-pills-tab" 
  role="tablist" 
  aria-orientation="vertical"
>
  <a class="nav-link mb-3 font-weight-bold" [routerLink]="'/'">Dashboard</a>

  <a class="nav-link font-weight-bold" [routerLink]="'/periods'">Periodi</a>
  <a class="nav-link mb-3" [routerLink]="'/periods/new'">Nuovo periodo</a>

  <a class="nav-link font-weight-bold" [routerLink]="'/categories'">Categorie</a>
  <a class="nav-link mb-3" [routerLink]="'/categories/new'">Nuova categoria</a>

  <a class="nav-link font-weight-bold" [routerLink]="'/cities'">Città</a>
  <a class="nav-link mb-3" [routerLink]="'/cities/new'">Nuova città</a>

  <a class="nav-link font-weight-bold" [routerLink]="'/layers'">Livelli</a>
  <a class="nav-link mb-3" [routerLink]="'/layers/new'">Nuovo livello</a>

  <a class="nav-link font-weight-bold" [routerLink]="'/map-views'">Mappe</a>
  <a class="nav-link mb-3" [routerLink]="'/map-views/new'">Nuova mappa</a>
</div>